* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

html, body {
  height: 100%;
  overflow: hidden;
}

main {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -100px;
}

main:after {
    content: "";
    display: block;
  }

/* Nav Start */
nav {
    padding: 6px;
    background-color: #FFFFFF;
    width: 100%;
    height: 60px;
    line-height: 27px;
}


nav ul {
    float: right;
    padding-left: 4px;
    vertical-align: middle;
}
nav li {
    list-style-type: none;
    display: inline;
    padding-left: 15px;
    vertical-align: middle;
    font-size: 15px;
    color: #000000;
}
nav li .buttonsvg {
    width: 30px;
    height: 30px;
    padding: 8px;
    vertical-align: middle;
    fill:#5f6368;

}

nav  li a {
    color: #000000de;
    text-decoration: none;
}

nav li img{
    width: 44px;
    height: 44px;
    padding:4px;
    margin-right: 25px;
    border-radius: 50%;
    margin-top: 7px;
}

nav li .buttonsvg:hover {
    cursor: pointer;
    background-color: rgba(95, 99, 104, 0.118);
    border-radius: 50%;
}

nav li img:hover {
    cursor: pointer;
    background-color: #5f63681e;;
}

nav li a:hover {
    text-decoration: underline;
}

.clear {
    clear: both;
}

/* Nav End */

/* Logo Start */
.logo {
    height: 204px ;
    text-align: center;
}

.logo img {
    padding-top: 112px;
    height: 92px;
    width: 272px;
}
/* Logo End */

/* Search Start */
.search {
    text-align: center;
    padding: 20px;
    height: 160px;
}

.box {
    margin: auto;
    height: 39px;
    width: 560px;
    padding: 5px 8px 0 14px;
    border: 1px #c4adad98 solid;
    border-radius: 250px;
    vertical-align: auto;
    display: flex;
    background-color: #FFFFFF;

}

.box:hover {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.29);
}

.search .search-icon {
    width: 24px;
    height: 44px;
    fill: #9AA0A6;
    padding-right: 13px;
    margin-top: -5px;
}

.search input {
    border: none;
    height: 34px;
    width: 480px;
    background-color: #FFFFFF;

}

.search input:focus {
    outline: none;
}

.search .keyboard {
    padding: 8px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-top: -4px;
}

.search .voice {
    height: 26px;
    width: 26px;
    padding: 0 8px;
    margin-top: 4px;
    cursor: pointer;
}





/* Button Start */

.search button {
    height: 36px;
    padding: 0 16px;
    border: 1px solid  #f2f2f2;
    background-color: #F8F9FA;
    text-align: center;
    margin: 30px 4px 0px 4px;
    cursor: pointer;
    border-radius: 4px;
    color:  #202124;
    font-family: arial, sans-serif;
    font-size:16px;
}

.search button:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px
}



/* Button End */




.footer ul {
    list-style-type: none;
}

.footer ul li {
    display: inline-block;
}

.upper-footer {
    height: 17px;
    background-color: #F2F2F2;
    border-bottom: 1px solid  #DADCE0;
    padding: 15px 30px 15px 30px;
    font-size: 15px;
    color:  #70757A;
}

.footer {
    background-color: #F2F2F2;
    color:  #70757A;
    height: 47px;
    font-size: 14px;
    padding: 0 20px;
}

.container div {
    display: inline-block;
}

.container img {
    height: 14px;
    width: 14px;
    margin-top: 15px;
    margin-right: -5px;
}

.container a {
    color:  #70757A;
    font-size: 16px;
    text-decoration: none;
    padding: 15px;
}

.container a:hover{
    text-decoration: underline;
}

.right {
    margin-left: 30%;
}

.center {
    margin-left: 15%;
    text-align: center;
}
